p{
    color: brown;
    text-align: center;
    line-height: 30px;
    border-style: dashed;
}
h1{
    text-align: center;
    color: red;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
    
}
a{
    text-decoration: none;
    color: rgb(0, 255,0);
}
body{
    font-family: Georgia;
}
button{
    background-color: white;
    color: blueviolet;
}
textarea{
    color: black;
}
span{
    text-decoration: underline;
}