*{
    font-family: 'Courier New';
}
h1{
    color: #1b74e4;
}
#searchbtn{
    background-color: black;
    color: white;
}
.userbtn{
    background-color: aqua;
}
/* decendent selector */
p a {
    color: purple;
    background-color: yellow;
}
div{
    border: 1px solid red;
    text-align: center;
    width:fit-content;
}