.face{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    background-color: yellow;
    border-radius: 50%;
}
.mouth{
    height: 50px;
    width: 100px;
    background-color: brown;
    border: 1px solid black;
    border-radius:0px 0px 50px 50px;
    position: absolute;
    top: 140px;
    left: 60px;
}
.left-eye,.right-eye{
    height: 50px;
    width: 50px;
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
}
.left-eye{
    top: 40px;
    left: 40px;
}
.right-eye{
    top: 40px;
    left: 120px;
}